@import '../global/global.css';

header{
  background-image: url('../styles/img/pexels-tima-miroshnichenko-5428155\ 1\ \(1\).png');
}


.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 4%;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 3vmin;
}

.logo-container p:hover{
  color: #c0a3ff;
  transition: 0.3s;
}

.logo-container img{
  color: #c0a3ff;
  transition: 0.3s;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  gap: 20px;
  margin-bottom: 40px;
  color: #fff;
}

.titulo-container{
  text-align: center;
  font-size: 4.5vmin;
  margin-bottom: 20px;
}

.subtitulo-container {
  text-align: center;
  color: #dddddd;
  font-size: 3vmin;
}

.subtitulo-container span{
  color: #c0a3ff;
}

.header-container a{
  padding: 4vmin 8vmin;
  background-color: #9166EE;
  color: #fff;
  font-size: 3vmin;
  font-weight: 700;
  border-radius: 6px;
  margin-bottom: 80px;
}

.header-container a:hover{
  background-color: #6d29ff;
  transition: 0.3s;
}

/* MAIN */

.main-title{
  margin: 30px auto 45px auto;
  box-sizing: content-box;
  text-align: center;
  color: #fff;
  font-size: 4vmin;
}

.func-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 50%;
  margin: 0 auto 60px auto;
}
.func-box {
  background: #4B378D;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.func-content {
  padding: 15px 0 10px 25px;
}
.func-content span {
  position: relative;
  font-weight: 800;
  font-size: 4.5vmin;
  color: rgb(244, 220, 255);
  list-style: none;
  width: max-content;
  border-radius: 30px;
}

.func-content p {
  color: rgb(243, 197, 255);
  margin: 1vh 1vh 0 1vh;
  font-size: 3.5vmin;
}

/* Formulário */

.chamada-container h2{
  color: white;
  text-align: center;
  margin: 40px;
  font-size: 4.5vmin;
}

.chamada-container span{
  color: #c0a3ff;;
  text-decoration: underline;
}

.form-container{
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  width: 46%;
  background-color: white;
  border-radius: 6px;
}

.form-container h2{
  font-size: 3vmin;
  text-align: center;
  color: #4B378D;
  margin-bottom: 20px;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input-container input{
  padding: 15px;
  background-color: #C3ADFF;
  border-radius: 6px;
  border: none;
  font-size: 2.5vmin;
  outline: none;
}

.input-container input::placeholder{
  font-size: 2.5vmin;
  color: #4B378D;
}
.cta-container{
  display: flex;
  justify-content: center;
}

.cta-container a{
  width: 30%;
  background-color: #5938CB;
  border-radius: 6px;
  padding: 16px 20px;
  color: #F4D7FF;
  border: none;
  text-align: center;
}

/* FOOTER */

.footer-container{
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 20px 40px;
  background-color: rgb(8, 0, 19);
  margin-top: 40px;
}

.footer-container img{
  width: 4%;
  cursor: pointer;
}

.footer-container img:hover{

}

/* Responsividade */

@media screen and (max-width: 1366px) {
  .func-content p {
    font-size: 0.75rem;
  }

  .func-container{
    grid-template-columns:1fr;
  }

  .logo-container{
    width: 8%
  }
}

@media(max-width: 600px){
  .header-container{
    width: 80%;
  }
  .func-container{
    width: 80%;
  }

  .footer-container img{
    width: 10%;
    display: flex;
    justify-content: space-around;
  }
  .cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
  }
  .cta-container a{
    font-size: 3vmin;
    padding: 16px 25%;
    background-color: #6d29ff;
    text-align: center;
    text-align: center;
    
  }

  .logo-container{
    width: 15%
  }
}