@import '../styles/global.css';
@import '../styles/boxes.css';
@import '../styles/forms.css';
@import '../styles/footer.css';
@import '../styles/responsivo.css';

.logo-container{
  width: 4%;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 30px;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  gap: 20px;
  margin-bottom: 40px;
  color: #fff;
}

.titulo-container{
  text-align: center;
  font: 5vmin;
}

.subtitulo-container {
  text-align: center;
  font-size: 3vmin;
}

.header-container a{
  padding: 3vmin 6vmin;
  background-color: #9166EE;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 60px;
}

/* MAIN */